[Unit]
Description=Portainer Agent Service
Documentation=https://docs.docker.com/compose/
Requires=docker.service
After=network.target docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory={{WORKDIR}}
TimeoutStartSec=0
Restart=on-failure
User={{OWNER}}
Group=docker
ExecStart={{WORKDIR}}/bin/start-agent-service.sh
ExecStop={{WORKDIR}}/bin/stop-agent-service.sh
ExecReload={{WORKDIR}}/bin/reload-agent-service.sh

[Install]
WantedBy=multi-user.target
